/*small */
@media screen and (min-width: 576px) {
    .col-sx{
        width: 250px;
    }
    .col-dx{
        width: calc(100% - 250px);    
    }
    .topbar-container{
        width: calc(100% - 250px);
    }
    .icon-mobile{
        display: none;
    }
    .icons-top-desktop, .icons-bottom-desktop{
        display: block;
    }
    
}

/*medium */
@media screen and (max-width: 768px) {
    
}

/* large */
@media screen and (max-width: 992px) {
    
}



