/*small */
@media screen and (min-width: 576px) {
    .col-sx{
        width: 250px;
    }
    .col-dx{
        width: calc(100% - 250px);    
    }
    .topbar-container{
        width: calc(100% - 250px);
    }
    .icon-mobile{
        display: none;
    }
    .icons-top-desktop, .icons-bottom-desktop{
        display: block;
    }
    
}

/*medium */
@media screen and (min-width: 768px) {
    .music-card{
        width: calc(100%/4 - 20px);
    }
    .media-player-icon{
        width: 80%;
        margin: 0 auto;
    }
    .song-icons{
        display: flex;
        gap: 10px;
    }  
}

/* large */
@media screen and (min-width: 992px) {
    .music-card{
        width: calc(100%/6 - 20px);
    }
    .main-container{
        width: 95%;
    }  
}



