*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
/* ***************************************************** */
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
/* col-sx struttura */
/* ***************************************************** */
.col-sx{
    width: 50px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-container{
    height: calc(100vh - 100px);
}

/* col-dx struttura */
/* ***************************************************** */
.col-dx{
    width: calc(100% - 50px);
    height: 100%;
    background-color: crimson;   
}
.topbar-container{
    height: 100px;
    width: calc(100% - 50px);
    background-color: #080B12;
    position: fixed;
    top: 0;
    right: 0;
    
}
.main{
    background-color: beige;
    width: 100%;
    height: 1000px;
    padding-top: 100px;
}

/* col-dx struttura */
/* ***************************************************** */
footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
}

/* col-sx stile */
/* ***************************************************** */
.icon-mobile img{
    width: 60%;
}
.icon-mobile{
    padding-bottom: 10px;
}
.icons-top-mobile{
    padding-top: 10px;
}
.icons-bottom-mobile{
    padding-bottom: 10px;
}
.icons-top-mobile, .icons-bottom-mobile{
    text-align: center;
}

/* col-dx stile */
/* ***************************************************** */
.topbar{
    background-color: transparent;
}
.topbar-button{
    display: flex;
    justify-content: flex-end;
    padding: 25px 5px 0 0;
}
.bottone{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 40px;
}