*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* utilities */
/* ***************************************************** */
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.row{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    align-items: center;
}
.less-gap{
    gap: 10px;
}
.big{
    font-size: 30px
}
.flex-start{
    justify-content: flex-start;
}
/* col-sx struttura */
/* ***************************************************** */
.col-sx{
    width: 50px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-container{
    height: calc(100vh - 100px);
}

/* col-dx struttura */
/* ***************************************************** */
.col-dx{
    width: calc(100% - 50px);
    height: 100%;
    background-color: #141922;   
}
.topbar-container{
    height: 100px;
    width: calc(100% - 50px);
    background-color: #080B12;
    position: fixed;
    top: 0;
    right: 0;
    
}
.main{
    background-color: beige;
    width: 100%;
    height: 1000px;
    padding-top: 100px;
}

/* footer struttura */
/* ***************************************************** */
footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    z-index: 1;
    bottom: 0;
}
.footer-container{
    padding-top: 10px;
}
.col-30{
    width: calc(100% / 3);
    height: 75px;
    /* background-color: beige; */
}

/* col-sx stile */
/* ***************************************************** */
.icon-mobile img{
    width: 60%;
}
.icon-mobile{
    padding-bottom: 10px;
}
.icons-top-mobile{
    padding-top: 10px;
}
.icons-top-mobile, .icons-bottom-mobile{
    text-align: center;
}
.functions-sidebar-desktop{
    margin-top: 20px;
}
.icons-bottom-desktop{
    height: 80px;
}
.icons-top-desktop, .icons-bottom-desktop{
    display: none;
    width: 90%;
    margin: 0 auto;
    color: #62656A;
}
.logo-desktop img{
    height: 50px;
}
.function-icon{
    width: 15%;
}
.function-icon img{
    width: 100%;
}
.function-text{
    margin: 0 0 5px 5px;
    font-size: 15px;
}
.playlist{
    margin-top: 20px;
}
.playlist-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.new-playlist{
    margin-bottom: 20px;
}
.plus{
    padding: 5px 10px;  
    background-color: #A3A3A3;
    color: black;
    font-size: 20px; 
    margin-right: 10px; 
}
.your-playlist-container{
    overflow: hidden;
    height: 250px;
}
.your-playlist-container ul{
    list-style-type: none;
}
.your-playlist-container li{
    margin-bottom: 10px;
}
.install-app .function-icon{
    width: 20px;
}
.install-app-text, .profile-text{
    margin: 0 0 10px 10px;
}
.install-app{
    border-bottom: 1px solid #62656A;
}
.profile .function-icon{
    width: 25px;
}
.profile-text{
    color: white;
    font-weight: bold;
}
.profile{
    margin-top: 10px;
}
/* col-dx stile */
/* ***************************************************** */
/* topbar */
.topbar{
    background-color: transparent;
}
.topbar-button{
    display: flex;
    justify-content: flex-end;
    padding: 25px 5px 0 0;
}
.bottone{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px 40px;
}
/* nav */
.nav-container{
    display: flex;
    flex-wrap: wrap;
    padding: 120px 0 0 0;
    justify-content: center;
}
.category{
    color: #62656A;
    padding: 0 10px 50px;  
}
/* main */
.main-container{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
main{
    overflow: scroll;
    height: 100%;
}
.container-music-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 0;
}
.title-section{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.title-section-subtitle{
    color: #62656A;
}
.music-card{
    width: calc(100%/2 - 20px);
}
.music-card-img img{
    width: 100%;
}
.music-card-text{
    text-align: center;
}
.music-card-text-title{
    color: white;
    font-weight: bold;
}
.music-card-text-author{
    color: #62656A;
}

/* footer stile */
/* ***************************************************** */
.song-img img{
    width: 70px;
}
.song-img, .song-text{
    width: 40%;
}
.song-text-title{
    font-size: 10px;
    color: white;
    font-weight: bold;
}
.song-text-author{
    font-size: 10px;
    color: #62656A;
}
.song-icons{
    width: 20%;
}
.song-icon{
    color: #62656A;
    font-size: 15px;
}
.media-player-icon{
    color: white;
    font-size: 20px;
}
.line{
    width: 60%;
    background:rgb(82, 82, 82);
    position:relative;
    height:5px;
    border-radius: 20px;
}
.line:before {
    content:'';
    background:rgb(182, 182, 182);
    width:30%;
    height:5px;
    position:absolute;
    border-radius: 20px;
}
.lenght{
    height: 20px;
    margin-top: 15px;
}
.seconds{
    font-size: 10px;
    color: white;
    font-weight: bold;
}
.volume-line{
    width: 80%;
    background:rgb(82, 82, 82);
    position:relative;
    height:5px;
    border-radius: 20px;
    margin-right: 10px;
}
.volume-line:before {
    content:'';
    background:rgb(182, 182, 182);
    width:30%;
    height:5px;
    position:absolute;
    border-radius: 20px;
}
.actions{
    height: 20px;
    width: 100%;
}
.action-icon{
    color: white;
    font-size: 15px;
    width: 50%;
}
.song, .media-player{
    width: 100%;
}